/* GENERAL */
.center {
    text-align: center;
}

.helvetica {
    font-family: "Helvetica", Helvetic, sans-serif;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.bottom_border {
    border-bottom:1px solid #ccc;
}

.auto_width {
    width: auto;
}

.small_w {
    width: 150px;
}

.medium_w {
    width: 250px;
}

.width_full {
    width: 100%;
}

/* LIST */
ul {
  list-style: none;
  padding: 5px;
  margin: 0;  
}

li {
  list-style-type: none;
}

/* INPUT */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.input_title {
    font-family: helvetica;
}

@media (min-device-width:320px) {
    .input_title {
        font-size: 36pt;
    }
}

@media (min-device-width:960px) {
    .input_title {
        font-size: 12pt;
    }
}

/* SELECTOR */
.selector {
    width: auto;
    margin: auto;
}

.selector .table {
    table-layout:auto;
    margin: 0;
}

.selector .table .leftcell {
    text-align: left;
}

.selector .table .rightcell {
    text-align: right;
}

.selector .selector_input {
    height: auto;
}

@media (min-device-width:320px) {
    .selector .selector_input {
        height: auto;
        font-size: 28pt;
    }
}

@media (min-device-width:960px) {
    .selector .selector_input {
        height: 35px;
        font-size: 10pt;
    }
}

/* TABLE */
table {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-spacing: 0px;
  border: 1px solid #535353;
  border-left: 2px solid #535353;
  border-right: 2px solid #535353;
  background-color: transparent; /* background-color added bc
                                    div was overlapping */
  text-align: center; 
  table-layout: fixed;
}

table th {
    padding:10px 10px 10px 10px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background: #e4e4e4;
    text-align: center; 
}  

table th:hover {
  cursor: pointer;
}

table tr {
  text-align: center;
}

table td {
    padding:10px;
    border-bottom:1px solid #ccc;
    background: #fafafa;
    text-align: center; 
}  

/* BUTTON */
.button {
border : solid 0px #ffffff;
    border : solid 1px #bababa;
    border-radius : 2px 1px 1px 1px ;
    moz-border-radius : 2px 1px 1px 1px ;
    color : #a098a0;
    padding : 2px 20px;
    background : #ffffff;
    background : -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%,#f6f6f6), color-stop(100%,#f6f6f6)
    );
    background : -moz-linear-gradient(top, #f6f6f6 0%, #f6f6f6 100%);
    background : -webkit-linear-gradient(top, #f6f6f6 0%, #f6f6f6 100%);
    background : -o-linear-gradient(top, #f6f6f6 0%, #f6f6f6 100%);
    background : -ms-linear-gradient(top, #f6f6f6 0%, #f6f6f6 100%);
    background : linear-gradient(top, #f6f6f6 0%, #f6f6f6 100%);
    filter : progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#f6f6f6',
        endColorstr='#f6f6f6',
        GradientType=0
    );
}

@media (min-device-width:320px) {
    .button {
        font-size : 36pt;
    }
}

@media (min-device-width:960px) {
    .button {
        font-size : 12pt;
    }
}

.button:hover {
    cursor:pointer;
    background : #f0f0f0;
    background : -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%,#f0f0f0),
        color-stop(100%,#f7f7f7)
    );
    background : -moz-linear-gradient(top, #f0f0f0 0%, #f7f7f7 100%);
    background : -webkit-linear-gradient(top, #f0f0f0 0%, #f7f7f7 100%);
    background : -o-linear-gradient(top, #f0f0f0 0%, #f7f7f7 100%);
    background : -ms-linear-gradient(top, #f0f0f0 0%, #f7f7f7 100%);
    background : linear-gradient(top, #f0f0f0 0%, #f7f7f7 100%);
    filter : progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#f0f0f0',
        endColorstr='#f7f7f7',
        GradientType=0
    );
}

/* Page */
.page {
  background-color: #ffffff;
}

.page_nav:hover .nav_list {
    transition-delay: 400ms;
    height: 100%;
    cursor: pointer;
    visibility: visible;
    padding-top:15px 0;
    margin: 10px auto;
}

.nav_list {
    visibility: hidden;
    height: 0;
    border-radius : 2px 1px 1px 1px;
    moz-border-radius : 2px 1px 1px 1px;
    background-color: #0155C3;
    font-family: helvetica;
    font-size: 12pt;
    cursor:pointer;
    text-align: center;
}

.nav_item {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #2B96E8;
}

.page_header {
    border-radius : 2px 1px 1px 1px;
    moz-border-radius : 2px 1px 1px 1px;
    width: 100%;
    background-color: #2B96E8;
    float:left;
    overflow: hidden;
    font-family: helvetica;
}

@media (min-device-width:320px) {
    .header_device {
        height: 75px;
    }
}

@media (min-device-width:960px) {
    .header_device {
        height: 50px;
    }
}

.page_header .title {
    margin: 0px;
    color: #0155C3;
    font-size: 18px;
}

.page_header .subtitle {
    margin: 0px;
    color: #0155C3;
    font-size: 12pt;
}

.page_header .logout {
    color: #0155C3;
    padding: 5px;
    font-size: 12pt;
    text-decoration: none;
}

/* Error formatting */
.error_box {
    text-align:center;
    border-radius : 2px 1px 1px 1px;
    moz-border-radius : 2px 1px 1px 1px;
    margin: 10px auto;
    padding:15px 20px;
    background-color: #FFBABA;
    color: red;
    font-family: helvetica;
    font-size: 12pt;
}

@media (min-device-width:320px) {
    .error_device {
        width: 75%;
        font-size:36px;
    }
}

@media (min-device-width:960px) {
    .error_device {
        width: 20%;
        font-size:18px;
    }
}

/* GamesPage */
.games_container {
  background-color: white;
  overflow: hidden;
  margin-top: 10px;
  padding: 10px;
  width: auto;
  height: auto;
} 

.game_section {
  background-color: #579c57;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 2px;
  width: auto;
  height: auto;
}

.game_header {
    font-family: "Verdana";
    color: white;
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 5px;
}

.game_header_final {
    font-family: "Verdana";
    color: yellow;
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 5px;
}

/* Errors.php */
.even_list {
  background-color: white;
}

.selected_list {
    background-color: yellow;
}

/* AnalysisPage.php */
.analysis_page_table {
  table-layout:auto;
  border: 0px;
  background: #c9c9c9;
  padding-bottom: 25px;
}

.analysis_page_cell {
  background: #c9c9c9;
  vertical-align: top;
}

.analysis_page_form_table {
  background: #6495ed;
}

/* Login */
.login_box {
    margin: auto;
    text-align:center;
}

.login_field {
    border: solid 1px #bababa;
    background-color: #fff;
}

@media (min-device-width:320px) {
    .login_device {
        width: 80%;
        font-size:42px;
    }
}

@media (min-device-width:960px) {
    .login_device {
        width: 30%;
        font-size:18px;
    }
}

/* Slider */
.slider {
    width: 100%;
}

.slider_title_cell {
    text-align: left;
    width: 50%;
}

.slider_table {
    table-layout: auto;
    width: 100%;
    margin: 0 auto;
}

.slider_box {
    text-align: right;
}

@media (min-device-width:320px) {
    .slider_box {
        width: 50px;
        font-size:42px;
    }
}

@media (min-device-width:960px) {
    .slider_box {
        width: 25px;
        font-size:10pt;
    }
}

/* SimPerformancePage */
.sim_perf form {
    text-align: center;
}

.sim_perf select {
   width: auto;
   padding: 5px;
   font-size: 10pt;
   font-family: Helvetica;
   line-height: 1;
   border-radius: 0;
   height: 34px;
}

.sim_perf .blue_list {
    margin: auto;
    background-color: #2B96E8;
    text-align: center;
    padding-bottom: 5px;
    display: table;
}

@media (min-device-width:320px) {
    .blue_list {
        width: 95%;
    }
}

@media (min-device-width:960px) {
    .blue_list {
        width: 50%;
    }
}

.sim_perf .list_title {
    font-family: Helvetica;
    color: white;
    padding: 10px;
}

@media (min-device-width:320px) {
    .sim_perf .list_title {
        font-size: 36pt;
    }
}

@media (min-device-width:960px) {
    .sim_perf .list_title {
        font-size: 12pt;
    }
}

@media (min-device-width:320px) {
    .sim_perf .list_item {
        margin: 12px 0;
    }
}

@media (min-device-width:960px) {
    .sim_perf .list_item {
        margin: 3px 0;
    }
}

.histogram_canvas {
    min-width: 310px;
    height: 400px;
    margin: 0 auto
}
.histogram_list_item {
    border-bottom:1px solid #ccc;
    padding: 100px 0;
}
